#toolbar-search::placeholder {
    color: gray
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.half-moon-left {
    display: inline-block;
    border-radius: 1em 0 0 1em;
    height: 5rem;
    width: 2rem;
}

.half-moon-right {
    display: inline-block;
    border-radius: 0 1em 1em 0;
    height: 5rem;
    width: 2rem;
}